.navbar{
    height: 70px;
    background-color:blue;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500;
}
.navButton{
   margin-right: 20px;
   border: none;
   border-radius: 10px;
   padding: 15px 20 px 15px 20px;
   cursor: pointer;
   font-size: 14px;
   color:blue ;
}